.singleGame {
  margin-top: 85px;
  background: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 10px;
  border-radius: 5px;
}
.creatorUrl {
  color: red;
  text-decoration: none;
}
.mainImage {
  width: 375px;
  height: 475px;
  border-radius: 5px;
  margin: 30px 0;
  box-shadow: 3px 3px 20px black;
}
.downloadLink {
  text-decoration: none;
  color: white;
  background: green;
  padding: 8px 15px;
  border-radius: 3px;
}
.downloadLink:hover {
  color: whitesmoke;
  background: rgb(42, 153, 42);
}
.inGameImages {
  border-radius: 5px;
  width: 758px;
  height: 430px;
  margin-bottom: 25px;
}
.title {
  color: orange;
  margin-bottom: 15px;
  text-align: center;
}
.description {
  margin-bottom: 50px;
}
.systemReq > p {
  color: red;
}
@media only screen and (max-width: 540px) {
  .singleGame {
    margin-top: 15px;
  }
  .mainImage {
    width: 200px;
    height: 300px;
  }
  .title {
    font-size: 20px;
    padding-top: 15px;
  }
  .inGameImages {
    width: 320px;
    height: 180px;
  }
  .downloadLink {
    font-size: 14px;
    max-width: 300px;
    text-align: center;
    padding: 4px 8px;
    margin-bottom: 25px;
  }
}
